[Unit]
Description=Minarch X11 session services
BindsTo=minarch-lock.service
After=minarch-lock.service
Wants=minarch-clipboard.service pipewire.socket pipewire-pulse.socket wireplumber.service
